.banner-desk{
    display: none;
}

.banner-mob{
    display: flex;
    justify-content: center;
}

.banner-left{
    padding-left: 60px;
    padding-right: 20px;
    box-sizing: border-box;
}

.banner-left p{
    margin-top: 10px;
    margin-bottom: 36px;
    max-width: 500px;
}

.banner-left-frame{
    display: flex;
    align-items: center;
    gap: 16px;
}

.banner-right img{
    width: 100%;
    border-radius: 0 24px 24px 0;
}

@media screen and (min-width: 970px){
    .banner-desk{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1300px;
        background-color: #fff;
        border-radius: 24px;
    }

    
    .banner-mob{
        display: none;
    }
}